
#dispatcher_target {
	width: 30em;
	margin: 0 auto;
	margin-top: 3em;
	display: none;
}

#dispatcher_content {
	text-align: center;
}

#dispatcher_content table {
	margin: 0 auto;
	width: 95%;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	border-spacing: 0;
	overflow: hidden;
	box-shadow: 1px 1px 3px #A0A0A0;
	
}

#hidden_ip_container {
	visibility: hidden;
}

/* kazdy lichy (indexovano od 0) radek bude sedy */
#dispatcher_content table tr:nth-child(odd) {
	background-color: rgb(243, 243, 255);
}
#dispatcher_content table tr:nth-child(even) {
	background-color: #FFF;
}

/* barevny prvni radek s nadpisy */
#dispatcher_content table th {
	background-color: rgba(55, 95, 183, 0.64);
	color: #FFF;
	height: 2.3em;
	vertical-align: middle;
}

/* zvyrazneni nabindovaneho */
#dispatcher_content table tr#boundToMe {
	background-color: #B6FFB6;
}

#dispatcher_content table tr {
	padding: 0.3em;
	color: #323232;
	vertical-align: middle;
	
}

#dispatcher_content table td {
	vertical-align: middle;
	border: none;
	height: 2.3em;
}

/* bunky v prvnim radku a posledni bunka v kazdem radku nema pravy okraj */
#dispatcher_content table td:last-child {
	border: none;
}
#dispatcher_content table tr:first-child td {
	border: none;
}


#dispatcher_content a {
	display: block;
	border: 1px solid rgba(55, 95, 183, 0.64);
	color: rgba(55, 95, 183, 0.64);
	background: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 7em;
	margin: 0 auto;
}

#dispatcher_content a.pressed {
	background-color: rgba(55, 95, 183, 0.64);
	color: #FFF;
}

